<div class="app-addachivment">

  <h2>Заполните форму регистрации:</h2>
  <form>
    <label for="lastname">Фамилия:</label>
    <input type="text" id="lastname" name="lastname"><br><br>

    <label for="firstname">Имя:</label>
    <input type="text" id="firstname" name="firstname"><br><br>

    <label for="event">Выберите мероприятие:</label>
    <select id="event" name="event">
      <option value="мероприятие 1">Мероприятие 1</option>
      <option value="мероприятие 2">Мероприятие 2</option>
      <option value="мероприятие 3">Мероприятие 3</option>
      <option value="другой вариант">Другой вариант</option>
    </select><br><br>
    <label for="otherposition">Другой вариант:</label>
    <input type="text" id="otherposition" name="otherposition" placeholder="Укажите другой вариант"><br><br>


<!--    <label for="position">Выберите должность:</label>-->
<!--    <select id="position" name="position">-->
<!--      <option value="должность 1">Должность 1</option>-->
<!--      <option value="должность 2">Должность 2</option>-->
<!--      <option value="должность 3">Должность 3</option>-->
<!--      <option value="другой вариант">Другой вариант</option>-->
<!--    </select><br><br>-->

<!--    <label for="otherposition">Другой вариант:</label>-->
<!--    <input type="text" id="otherposition" name="otherposition" placeholder="Укажите другой вариант"><br><br>-->

    <label for="date">Дата:</label>
    <input type="date" id="date" name="date"><br><br>

    <input type="submit" value="Отправить">
  </form>
</div>
