<div class="app-prizes">
    <header>Призы</header>
    <div class="balanse">
        <p class="balans">Ваш баланс:</p>
        <p class="coint">20</p>
        <div class="coints"></div>
    </div>
    <div class="container">
        <div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div>
        <div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div>
        <div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div><div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div><div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div><div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div><div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div><div class="produck">
            <div class="tovar"></div>
            <button class="cost">25 бонусов</button>
        </div>
    </div>
</div>